/* Importar de "GOOGLE FONT" */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Le da un espacio de margen entre los DIVS */
.contenedor-espacios {
  margin: 15vh 0vh;
}

/* Resaltar de un color un titulo */
.programar-mision {
  color: skyblue;
}

/* Resaltar de un color diferente al resto, una sección de una palabra */
.AR {
  color: rgb(194, 194, 50);
}

/* Dar tamaño a la imagen de la programadora */
#foto-programadora {
  width: 38vh;
  border-radius: 10px;
}

/* Dar mayor tamaño a los titulos */
.titulo {
  font-size: 45px;
}

/* Agrandar el texto del titulo MISION PROGRAMAR */
#Mision-programar {
  font-size: 36px;
}

/* agrandar fuente de texto del enfoque */
#nuestro-enfoque {
  font-size: 24px;
}

/* Editar los subtitulos de los enfoques */
.enfoques {
  font-size: 20px;
  color: burlywood;
  text-decoration: underline;
}

/* BOTON FLOTANTE */

#floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

#floating-icon:hover {
  transform: scale(1.1);
}

#chat-box {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#chat-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-content {
  padding: 10px;
}

#close-chat {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Estilos para colocar el MODO OSCURO */
/* Estilos para el modo oscuro */
.dark-mode {
  background-color: #333; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del texto */
}

.dark-mode .navbar {
  background-color: #222 !important; /* Cambia el color de fondo de la barra de navegación */
}

.dark-mode .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Cambia el color del icono del botón de navegación */
}

.dark-mode .nav-link {
  color: #fff !important; /* Cambia el color del texto de los enlaces de navegación */
}

.dark-mode .btn-primary {
  background-color: #007bff; /* Cambia el color de fondo del botón */
  border-color: #007bff; /* Cambia el color del borde del botón */
}

.dark-mode .btn-primary:hover {
  background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el cursor sobre él */
  border-color: #0056b3; /* Cambia el color del borde del botón al pasar el cursor sobre él */
}
